<div class="container-fluid">
  <div class="row">
    <div class="col-5 navBgColor">
      <h1 class="border"></h1>
    </div>
    <div class="col navStretch">
      <nav class="navbar navLogoBgColor navCenter">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../assets/img/NLogo.jpeg" class="img-fluid" width="90" height="95" alt="WebSite Logo">
        </a>
      </nav>
    </div>
    <div class="col-5 navBgColor">
      <h1 class="border"></h1>
    </div>
  </div>
</div>
